* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 972px) {
  ._container {
    max-width: 900px;
  }
}

@media (max-width: 910.98px) {
  ._container {
    max-width: 840px;
  }
}

@media (max-width: 845.98px) {
  ._container {
    max-width: 790px;
  }
}

@media (max-width: 479.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  padding: 10px 17px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.headerblock {
  position: relative;
  padding: 0px 0px 70px 0px;
}

.headerblock__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerblock__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.header__content-slider {
  padding: 180px 0px 0px 0px;
}

.header__content-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content-slider .slick-list {
  overflow: hidden;
}

.header__content-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 130px 0px 0px 0px;
}

.header__content-slider .slick-dots li {
  list-style: none;
  margin: 0px 3px;
}

.header__content-slider .slick-dots li.slick-active button {
  background-color: #00e0d0;
  border: none;
}

.header__content-slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #bab9bc;
}

.header__content {
  text-align: center;
  color: white;
}

.header__content-title {
  position: relative;
  font-size: 32px;
  font-family: 'Playfair Display', sans-serif;
  line-height: 1.2;
  text-align: center;
  font-weight: 800;
  padding: 0px 0px 25px 0px;
}

.header__content-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 50px;
  background-color: #00e0d0;
  margin: 0px 0px 0px -25px;
}

.header__content-subtitle {
  max-width: 777px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.714;
  text-align: center;
  padding: 25px 0px 0px 0px;
  font-weight: 400;
}

.header__content-button {
  margin: 65px 0px 0px 0px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0px 0px 0px;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo-text {
  margin: 0px 0px 0px 11px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00e0d0), to(#4aa3cc)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to top, #00e0d0, #4aa3cc), linear-gradient(to bottom, #fff, #fff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.nav__items {
  font-size: 13px;
  font-family: 'Roboto';
  line-height: 1.2;
  font-weight: 800;
}

.nav__item {
  margin: 0px 25px 0px 0px;
  color: white;
}

.nav__item.active {
  color: #00e0d0;
}

.nav__item:last-child {
  margin: 0px 0px 0px 0px;
}

.storyblock {
  padding: 68px 0px 70px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storyblock__title {
  font-size: 22px;
  font-family: 'PlayfairDisplay', sans-serif;
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding: 0px 0px 29px 0px;
}

.storyblock__subtitle {
  max-width: 539px;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgba(65, 61, 75, 0.749);
  line-height: 1.571;
  padding: 0px 0px 34px 0px;
}

.watchblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../assets/watch/bg.png") center/cover no-repeat;
  padding: 200px 0px 200px 0px;
}

.watchblock__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.watchblock__content img {
  padding: 0px 0px 35px 0px;
}

.watchblock__content span {
  font-size: 16px;
  font-family: 'Roboto';
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.expertise {
  padding: 70px 0px 68px 0px;
}

.expertise__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  -webkit-column-gap: 1px;
          column-gap: 1px;
  row-gap: 1px;
  background-color: #ebebeb;
}

.title {
  text-align: center;
  padding: 0px 0px 38px 0px;
}

.title__text {
  font-size: 22px;
  font-family: 'Playfair Display';
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
  padding: 0px 0px 10px 0px;
}

.title__subtitle {
  font-size: 14px;
  font-family: 'Playfair Display';
  color: rgba(47, 45, 53, 0.749);
  line-height: 1.2;
  position: relative;
  padding: 0px 0px 18px 0px;
}

.title__subtitle::after {
  content: '';
  position: absolute;
  background-color: #413d4b;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 50%;
  margin: 0px 0px 0px -25px;
}

.item {
  text-align: center;
  background-color: #fff;
  padding: 15px 15px 15px 15px;
}

.item__icon {
  padding: 0px 0px 35px 0px;
}

.item__title {
  padding: 0px 0px 25px 0px;
  font-size: 14px;
  font-family: 'Roboto';
  color: #413d4b;
  line-height: 1.2;
  font-weight: 800;
}

.item__subtitle {
  font-size: 14px;
  font-family: 'Roboto';
  color: rgba(51, 51, 51, 0.749);
  line-height: 1.571;
  max-width: 254px;
  margin: 0px auto;
}

.team {
  position: relative;
  padding: 70px 0px 70px 0px;
  text-align: center;
}

.team .title__text {
  color: #fff;
}

.team .title__subtitle {
  color: #fff;
}

.team .title__subtitle::after {
  background-color: #655c80;
}

.team_bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.team__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 70px 0px;
}

.team__text {
  padding: 0px 0px 25px 0px;
  font-size: 14px;
  color: #f3f3f3;
  line-height: 1.2;
}

.people-item__content {
  text-align: center;
}

.people-item__content:last-child {
  margin: 0px 0px 0px 0px;
}

.people-item__about {
  text-align: center;
  border-width: 1px;
  border-color: rgba(225, 225, 225, 0.5);
  border-style: solid;
  padding: 22px 0px;
}

.people-item__image {
  width: 220px;
  height: 230px;
  background-color: #f3f3f3;
}

.people-item__name {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-weight: 800;
  padding: 0px 0px 12px 0px;
}

.people-item__job {
  color: #fff;
}

.works {
  text-align: center;
  padding: 70px 0px 70px 0px;
}

.works__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 70px 0px;
}

.works__text {
  font-size: 22px;
  font-family: 'Playfair Display';
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
}

.works__dribble {
  font-size: 14px;
  font-family: 'Roboto';
  color: #413d4b;
  line-height: 1.2;
}

.works__items {
  padding: 0px 0px 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.works__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  border: 1px solid gray;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.quote {
  position: relative;
  padding: 70px 0px 70px 0px;
}

.quote__slider-arrows {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote__slider-arrow {
  width: 11px;
  height: 21px;
}

.quote__slider-arrow-left {
  background: url("../assets/quote/left.png") 0 0/100% no-repeat;
  margin: 0px 20px 0px 0px;
}

.quote__slider-arrow-right {
  background: url("../assets/quote/right.png") 0 0/100% no-repeat;
  margin: 0px 0px 0px 20px;
}

.quote__slider-dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote__slider-dots .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.quote__slider-dots .slick-dots li:nth-child(1) button {
  background: url("../assets/quote/5.png") 0 0/100% no-repeat;
}

.quote__slider-dots .slick-dots li:nth-child(2) button {
  background: url("../assets/quote/4.png") 0 0/100% no-repeat;
}

.quote__slider-dots .slick-dots li:nth-child(3) button {
  background: url("../assets/quote/3.png") 0 0/100% no-repeat;
}

.quote__slider-dots .slick-dots li:nth-child(4) button {
  background: url("../assets/quote/2.png") 0 0/100% no-repeat;
}

.quote__slider-dots .slick-dots li:nth-child(5) button {
  background: url("../assets/quote/1.png") 0 0/100% no-repeat;
}

.quote__slider-dots .slick-dots li.slick-active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.quote__slider-dots .slick-dots button {
  width: 45px;
  height: 45px;
  font-size: 0;
}

.quote__slider-dots .slick-dots-active button {
  width: 65px;
  height: 65px;
}

.quote__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.quote__slider .slick-list {
  overflow: hidden;
}

.quote__icon {
  padding: 0px 0px 44px 0px;
}

.quote__text {
  max-width: 772px;
  margin: 0px auto;
  font-size: 16px;
  font-family: 'Playfair Display';
  color: #fff;
  line-height: 1.625;
  padding: 0px 0px 44px 0px;
}

.quote__name {
  padding: 0px 0px 0px 0px;
  font-size: 14px;
  font-family: 'Roboto';
  color: #fff;
  line-height: 1.571;
  font-weight: bold;
}

.quote__job {
  padding: 0px 0px 45px 0px;
  font-size: 13px;
  font-family: 'Roboto';
  color: #fff;
  line-height: 1.692;
}

.quote__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.quote-slider__item {
  text-align: center;
}

.feedback {
  padding: 70px 0px 70px 0px;
}

.feedback__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.feedback__form input {
  border: 1px solid #e5e5e5;
}

.feedback__form-title {
  font-size: 22px;
  font-family: 'Playfair Display';
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
  padding: 0px 0px 35px 0px;
}

.feedback__form-input {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 13px 20px;
  margin-bottom: 21px;
}

.feedback__form-message {
  padding-bottom: 165px;
}

.feedback__form-btn {
  background-color: #fff;
  text-align: center;
  width: 120px;
}

.block-clients {
  min-width: 360px;
}

.block-clients__title {
  font-size: 22px;
  font-family: 'Playfair Display', sans-serif;
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
  padding: 0px 0px 35px 0px;
}

.block-clients__logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 80px;
  justify-items: center;
}

.block-clients__logos img {
  text-align: center;
}

/*footer*/
.footer {
  background-image: url("../assets/footer/footer.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer__logo-text {
  margin-left: 11px;
  font-size: 30px;
  color: #36b3cd;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 47px;
}

.footer__about {
  max-width: 290px;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.footer__about-text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  word-spacing: 0.7px;
  margin: 0;
  margin-top: 20px;
  color: #fff;
}

.footer__address {
  max-width: 290px;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.footer__address-text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  word-spacing: 1px;
  margin: 0;
  color: #fff;
}

.footer__address-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 13px;
}

.footer__address-img {
  margin-right: 15px;
}

.footer__social {
  max-width: 290px;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.footer__title {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 26px;
  margin-top: 15px;
  font-weight: 800;
  letter-spacing: 0.7px;
  margin-bottom: 25px;
  color: #fff;
}

.footer__phone-text {
  text-decoration: none;
  color: #eaeaec;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  word-spacing: 0.7px;
  margin: 0;
}

.footer__social-item {
  margin-right: 5px;
}

.footer__social-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.footer__subscribe-input {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  border: 1px solid #9e97af;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  padding: 9px 20px;
  margin-bottom: 25px;
  letter-spacing: 0.6px;
}

.footer__subscribe-btn {
  border: none;
  background: none;
  text-decoration: none;
  background-color: #a19ab3;
  opacity: 0.3;
  margin: 0;
  padding: 0;
  background-image: url("../assets/footer/paper122.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 45px;
  width: 70px;
}

.footer__links {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.4px;
  display: block;
  float: left;
}

.footer__link {
  text-decoration: none;
  color: #eaeaec;
  margin-right: 30px;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;
  display: block;
  float: right;
  color: #fff;
}

@media (max-width: 910.98px) {
  .storyblock__content {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .team .people-item {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team .people-item__content {
    margin-bottom: 20px;
  }
  .team .people-item__content:last-child {
    margin: 0px 0px 0px 0px;
  }
  .feedback .block-clients__logos {
    grid-column-gap: 40px;
  }
}

@media (max-width: 845.98px) {
  .feedback__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedback__form {
    max-width: 70%;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    width: 75%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .feedback__form-title {
    text-align: center;
  }
  .feedback__form-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .feedback .block-clients {
    max-width: 70%;
    width: 70%;
    margin-bottom: 60px;
  }
  .feedback .block-clients__title {
    text-align: center;
  }
  .feedback .block-clients__logos {
    grid-row-gap: 25px;
  }
  .footer__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__about {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    max-width: 47%;
  }
  .footer__address {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    max-width: 47%;
  }
  .footer__social {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    max-width: 47%;
  }
}
