//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Roboto';
//</Шрифт по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 960;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import 'null';
body {
  color: #000;
  font-size: 14px;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  padding: 10px 17px;
}

._ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
//===================================================================================================================================
.headerblock {
  position: relative;
  padding: 0px 0px 70px 0px;
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
.header {
  &__nav {
  }
  &__content-slider {
    padding: 180px 0px 0px 0px;
    .slick {
      &-track {
        display: flex;
      }
      &-list {
        overflow: hidden;
      }
      &-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 130px 0px 0px 0px;
        li {
          list-style: none;
          margin: 0px 3px;
          &.slick-active {
            button {
              background-color: #00e0d0;
              border: none;
            }
          }
        }
        button {
          font-size: 0;
          width: 10px;
          height: 10px;
          background-color: transparent;
          border-radius: 50%;
          border: 1px solid #bab9bc;
        }
      }
    }
  }
  &__content {
    text-align: center;
    color: white;
    &-title {
      position: relative;
      font-size: 32px;
      font-family: 'Playfair Display', sans-serif;
      line-height: 1.2;
      text-align: center;
      font-weight: 800;
      padding: 0px 0px 25px 0px;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 1px;
        width: 50px;
        background-color: #00e0d0;
        margin: 0px 0px 0px -25px;
      }
    }
    &-subtitle {
      max-width: 777px;
      margin: 0 auto;
      text-align: center;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      line-height: 1.714;
      text-align: center;
      padding: 25px 0px 0px 0px;
      font-weight: 400;
    }
    &-button {
      margin: 65px 0px 0px 0px;
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 0px 0px;
  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-image {
  }

  &__logo-text {
    margin: 0px 0px 0px 11px;
    font-size: 30px;
    font-family: $fontFamily;
    line-height: 1.2;
    background-image: linear-gradient(to top, #00e0d0, #4aa3cc),
      linear-gradient(to bottom, #fff, #fff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  &__items {
    font-size: 13px;
    font-family: 'Roboto';
    line-height: 1.2;
    font-weight: 800;
  }

  &__item {
    margin: 0px 25px 0px 0px;
    color: white;
    &.active {
      color: #00e0d0;
    }
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
  }
}

.storyblock {
  padding: 68px 0px 70px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__image {
  }

  &__content {
  }

  &__title {
    font-size: 22px;
    font-family: 'PlayfairDisplay', sans-serif;
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    padding: 0px 0px 29px 0px;
  }

  &__subtitle {
    max-width: 539px;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: rgba(65, 61, 75, 0.749);
    line-height: 1.571;
    padding: 0px 0px 34px 0px;
  }

  &__button {
  }
}

.watchblock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('../assets/watch/bg.png') center / cover no-repeat;
  padding: 200px 0px 200px 0px;

  &__content {
    display: flex;
    flex-direction: column;
    img {
      padding: 0px 0px 35px 0px;
    }
    span {
      font-size: 16px;
      font-family: 'Roboto';
      color: white;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    }
  }
}

.expertise {
  padding: 70px 0px 68px 0px;
  &__titleblock {
  }

  &__items {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    column-gap: 1px;
    row-gap: 1px;
    background-color: #ebebeb;
  }

  &__item {
  }
}
.title {
  text-align: center;
  padding: 0px 0px 38px 0px;
  &__text {
    font-size: 22px;
    font-family: 'Playfair Display';
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    padding: 0px 0px 10px 0px;
  }

  &__subtitle {
    font-size: 14px;
    font-family: 'Playfair Display';
    color: rgba(47, 45, 53, 0.749);
    line-height: 1.2;
    position: relative;
    padding: 0px 0px 18px 0px;
    &::after {
      content: '';
      position: absolute;
      background-color: rgb(65, 61, 75);
      width: 50px;
      height: 2px;
      bottom: 0;
      left: 50%;
      margin: 0px 0px 0px -25px;
    }
  }
}
.item {
  text-align: center;
  background-color: #fff;
  padding: 15px 15px 15px 15px;
  &__icon {
    padding: 0px 0px 35px 0px;
  }

  &__title {
    padding: 0px 0px 25px 0px;
    font-size: 14px;
    font-family: 'Roboto';
    color: rgb(65, 61, 75);
    line-height: 1.2;
    font-weight: 800;
  }

  &__subtitle {
    font-size: 14px;
    font-family: 'Roboto';
    color: rgba(51, 51, 51, 0.749);
    line-height: 1.571;
    max-width: 254px;
    margin: 0px auto;
  }
}

.team {
  position: relative;
  padding: 70px 0px 70px 0px;
  text-align: center;
  .title {
    &__text {
      color: #fff;
    }

    &__subtitle {
      color: #fff;
      &::after {
        background-color: #655c80;
      }
    }
  }

  &_bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__content {
  }

  &__titleblock {
  }

  &__people {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 70px 0px;
  }

  &__text {
    padding: 0px 0px 25px 0px;
    font-size: 14px;
    color: rgb(243, 243, 243);
    line-height: 1.2;
    font-weight: 100;
  }

  &__button {
  }
}

.people-item {
  &__content {
    margin: 0px 20px 0px 0px;
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
    text-align: center;
  }
  &__about {
    text-align: center;
    border-width: 1px;
    border-color: rgba(225, 225, 225, 0.5);
    border-style: solid;
    padding: 22px 0px;
  }
  &__image {
    width: 220px;
    height: 230px;
    background-color: #f3f3f3;
  }

  &__name {
    color: #fff;
    font-size: 14px;
    font-family: $fontFamily;
    line-height: 1.2;
    font-weight: 800;
    padding: 0px 0px 12px 0px;
  }

  &__job {
    color: #fff;
  }
}

.works {
  text-align: center;
  padding: 70px 0px 70px 0px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 70px 0px;
  }

  &__text {
    font-size: 22px;
    font-family: 'Playfair Display';
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
  }

  &__dribble {
    font-size: 14px;
    font-family: 'Roboto';
    color: rgb(65, 61, 75);
    line-height: 1.2;
  }

  &__items {
    padding: 0px 0px 70px 0px;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.quote {
  position: relative;
  padding: 70px 0px 70px 0px;

  &__slider {
    .slick {
      &-track {
        display: flex;
        position: relative;
        margin-left: auto;
        margin-right: auto;
      }
      &-list {
        overflow: hidden;
      }
      &-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          list-style: none;
          margin: 0px 10px;
          &:nth-child(1) {
            button {
              background: url('../assets/quote/5.png') 0 0 / 100% no-repeat;
            }
          }
          &:nth-child(2) {
            button {
              background: url('../assets/quote/4.png') 0 0 / 100% no-repeat;
            }
          }
          &:nth-child(3) {
            button {
              background: url('../assets/quote/3.png') 0 0 / 100% no-repeat;
            }
          }
          &:nth-child(4) {
            button {
              background: url('../assets/quote/2.png') 0 0 / 100% no-repeat;
            }
          }
          &:nth-child(5) {
            button {
              background: url('../assets/quote/1.png') 0 0 / 100% no-repeat;
            }
          }
          &.slick-active {
            transform: scale(1.2);
          }
        }
        button {
          width: 45px;
          height: 45px;
          font-size: 0;
        }
        &-active {
          button {
            width: 65px;
            height: 65px;
          }
        }
      }
      &-arrow {
        position: absolute;
        font-size: 0;
        z-index: 10;
        width: 11px;
        height: 21px;
      }
      &-prev {
        left: 760px;
        bottom: 83px;
        background: url('../assets/quote/left.png') 0 0 / 100% no-repeat;
      }
      &-next {
        right: 760px;
        bottom: 83px;
        background: url('../assets/quote/right.png') 0 0 / 100% no-repeat;
      }
    }
  }

  &__icon {
    padding: 0px 0px 44px 0px;
  }

  &__text {
    max-width: 772px;
    margin: 0px auto;
    font-size: 16px;
    font-family: 'Playfair Display';
    color: #fff;
    line-height: 1.625;
    padding: 0px 0px 44px 0px;
  }

  &__name {
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    font-family: 'Roboto';
    color: #fff;
    line-height: 1.571;
    font-weight: bold;
  }

  &__job {
    padding: 0px 0px 45px 0px;
    font-size: 13px;
    font-family: 'Roboto';
    color: #fff;
    line-height: 1.692;
  }

  &__image-slider {
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
.quote-slider {
  &__item {
    text-align: center;
  }
}

.feedback {
  padding: 70px 0px 70px 0px;
  &__block {
    display: flex;
  }

  &__form {
  }

  &-form-block {
  }

  &__block-clients {
  }
}

.form-feedback {
  input {
    border: 1px solid #e5e5e5;
    padding: 20px 17px;
  }
  & > div {
    margin: 0px 0px 25px 0px;
  }
  &__title {
    font-size: 22px;
    font-family: 'Playfair Display';
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    padding: 0px 0px 35px 0px;
  }

  &__name {
    width: 460px;
    height: 45px;
  }

  &__email {
    width: 460px;
    height: 45px;
  }

  &__subject {
    width: 460px;
    height: 45px;
  }

  &__message {
    width: 460px;
    height: 200px;
    textarea {
      padding: 20px 17px;
      border: 1px solid #e5e5e5;
    }
  }
  &__button {
    background-color: #fff;
  }
}

.block-clients {
  &__title {
    font-size: 22px;
    font-family: 'Playfair Display';
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    padding: 0px 0px 35px 0px;
  }

  &__logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      width: 50%;
      max-width: 160px;
      height: auto;
      margin-bottom: 40px;
    }
  }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
