* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 972px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  padding: 10px 17px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.headerblock {
  position: relative;
  padding: 0px 0px 70px 0px;
}

.headerblock__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerblock__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.header__content-slider {
  padding: 180px 0px 0px 0px;
}

.header__content-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content-slider .slick-list {
  overflow: hidden;
}

.header__content-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 130px 0px 0px 0px;
}

.header__content-slider .slick-dots li {
  list-style: none;
  margin: 0px 3px;
}

.header__content-slider .slick-dots li.slick-active button {
  background-color: #00e0d0;
  border: none;
}

.header__content-slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #bab9bc;
}

.header__content {
  text-align: center;
  color: white;
}

.header__content-title {
  position: relative;
  font-size: 32px;
  font-family: 'Playfair Display', sans-serif;
  line-height: 1.2;
  text-align: center;
  font-weight: 800;
  padding: 0px 0px 25px 0px;
}

.header__content-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 50px;
  background-color: #00e0d0;
  margin: 0px 0px 0px -25px;
}

.header__content-subtitle {
  max-width: 777px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.714;
  text-align: center;
  padding: 25px 0px 0px 0px;
  font-weight: 400;
}

.header__content-button {
  margin: 65px 0px 0px 0px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0px 0px 0px;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo-text {
  margin: 0px 0px 0px 11px;
  font-size: 30px;
  font-family: "Roboto";
  line-height: 1.2;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00e0d0), to(#4aa3cc)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to top, #00e0d0, #4aa3cc), linear-gradient(to bottom, #fff, #fff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.nav__items {
  font-size: 13px;
  font-family: 'Roboto';
  line-height: 1.2;
  font-weight: 800;
}

.nav__item {
  margin: 0px 25px 0px 0px;
  color: white;
}

.nav__item.active {
  color: #00e0d0;
}

.nav__item:last-child {
  margin: 0px 0px 0px 0px;
}

.storyblock {
  padding: 68px 0px 70px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storyblock__title {
  font-size: 22px;
  font-family: 'PlayfairDisplay', sans-serif;
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding: 0px 0px 29px 0px;
}

.storyblock__subtitle {
  max-width: 539px;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgba(65, 61, 75, 0.749);
  line-height: 1.571;
  padding: 0px 0px 34px 0px;
}

.watchblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../assets/watch/bg.png") center/cover no-repeat;
  padding: 200px 0px 200px 0px;
}

.watchblock__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.watchblock__content img {
  padding: 0px 0px 35px 0px;
}

.watchblock__content span {
  font-size: 16px;
  font-family: 'Roboto';
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.expertise {
  padding: 70px 0px 68px 0px;
}

.expertise__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  -webkit-column-gap: 1px;
          column-gap: 1px;
  row-gap: 1px;
  background-color: #ebebeb;
}

.title {
  text-align: center;
  padding: 0px 0px 38px 0px;
}

.title__text {
  font-size: 22px;
  font-family: 'Playfair Display';
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
  padding: 0px 0px 10px 0px;
}

.title__subtitle {
  font-size: 14px;
  font-family: 'Playfair Display';
  color: rgba(47, 45, 53, 0.749);
  line-height: 1.2;
  position: relative;
  padding: 0px 0px 18px 0px;
}

.title__subtitle::after {
  content: '';
  position: absolute;
  background-color: #413d4b;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 50%;
  margin: 0px 0px 0px -25px;
}

.item {
  text-align: center;
  background-color: #fff;
  padding: 15px 15px 15px 15px;
}

.item__icon {
  padding: 0px 0px 35px 0px;
}

.item__title {
  padding: 0px 0px 25px 0px;
  font-size: 14px;
  font-family: 'Roboto';
  color: #413d4b;
  line-height: 1.2;
  font-weight: 800;
}

.item__subtitle {
  font-size: 14px;
  font-family: 'Roboto';
  color: rgba(51, 51, 51, 0.749);
  line-height: 1.571;
  max-width: 254px;
  margin: 0px auto;
}

.team {
  position: relative;
  padding: 70px 0px 70px 0px;
  text-align: center;
}

.team .title__text {
  color: #fff;
}

.team .title__subtitle {
  color: #fff;
}

.team .title__subtitle::after {
  background-color: #655c80;
}

.team_bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.team__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 70px 0px;
}

.team__text {
  padding: 0px 0px 25px 0px;
  font-size: 14px;
  color: #f3f3f3;
  line-height: 1.2;
  font-weight: 100;
}

.people-item__content {
  margin: 0px 20px 0px 0px;
  text-align: center;
}

.people-item__content:last-child {
  margin: 0px 0px 0px 0px;
}

.people-item__about {
  text-align: center;
  border-width: 1px;
  border-color: rgba(225, 225, 225, 0.5);
  border-style: solid;
  padding: 22px 0px;
}

.people-item__image {
  width: 220px;
  height: 230px;
  background-color: #f3f3f3;
}

.people-item__name {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.2;
  font-weight: 800;
  padding: 0px 0px 12px 0px;
}

.people-item__job {
  color: #fff;
}

.works {
  text-align: center;
  padding: 70px 0px 70px 0px;
}

.works__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 70px 0px;
}

.works__text {
  font-size: 22px;
  font-family: 'Playfair Display';
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
}

.works__dribble {
  font-size: 14px;
  font-family: 'Roboto';
  color: #413d4b;
  line-height: 1.2;
}

.works__items {
  padding: 0px 0px 70px 0px;
}

.works__items img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.quote {
  position: relative;
  padding: 70px 0px 70px 0px;
}

.quote__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.quote__slider .slick-list {
  overflow: hidden;
}

.quote__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote__slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.quote__slider .slick-dots li:nth-child(1) button {
  background: url("../assets/quote/5.png") 0 0/100% no-repeat;
}

.quote__slider .slick-dots li:nth-child(2) button {
  background: url("../assets/quote/4.png") 0 0/100% no-repeat;
}

.quote__slider .slick-dots li:nth-child(3) button {
  background: url("../assets/quote/3.png") 0 0/100% no-repeat;
}

.quote__slider .slick-dots li:nth-child(4) button {
  background: url("../assets/quote/2.png") 0 0/100% no-repeat;
}

.quote__slider .slick-dots li:nth-child(5) button {
  background: url("../assets/quote/1.png") 0 0/100% no-repeat;
}

.quote__slider .slick-dots li.slick-active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.quote__slider .slick-dots button {
  width: 45px;
  height: 45px;
  font-size: 0;
}

.quote__slider .slick-dots-active button {
  width: 65px;
  height: 65px;
}

.quote__slider .slick-arrow {
  position: absolute;
  font-size: 0;
  z-index: 10;
  width: 11px;
  height: 21px;
}

.quote__slider .slick-prev {
  left: 760px;
  bottom: 83px;
  background: url("../assets/quote/left.png") 0 0/100% no-repeat;
}

.quote__slider .slick-next {
  right: 760px;
  bottom: 83px;
  background: url("../assets/quote/right.png") 0 0/100% no-repeat;
}

.quote__icon {
  padding: 0px 0px 44px 0px;
}

.quote__text {
  max-width: 772px;
  margin: 0px auto;
  font-size: 16px;
  font-family: 'Playfair Display';
  color: #fff;
  line-height: 1.625;
  padding: 0px 0px 44px 0px;
}

.quote__name {
  padding: 0px 0px 0px 0px;
  font-size: 14px;
  font-family: 'Roboto';
  color: #fff;
  line-height: 1.571;
  font-weight: bold;
}

.quote__job {
  padding: 0px 0px 45px 0px;
  font-size: 13px;
  font-family: 'Roboto';
  color: #fff;
  line-height: 1.692;
}

.quote__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.quote-slider__item {
  text-align: center;
}

.feedback {
  padding: 70px 0px 70px 0px;
}

.feedback__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-feedback input {
  border: 1px solid #e5e5e5;
  padding: 20px 17px;
}

.form-feedback > div {
  margin: 0px 0px 25px 0px;
}

.form-feedback__title {
  font-size: 22px;
  font-family: 'Playfair Display';
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
  padding: 0px 0px 35px 0px;
}

.form-feedback__name {
  width: 460px;
  height: 45px;
}

.form-feedback__email {
  width: 460px;
  height: 45px;
}

.form-feedback__subject {
  width: 460px;
  height: 45px;
}

.form-feedback__message {
  width: 460px;
  height: 200px;
}

.form-feedback__message textarea {
  padding: 20px 17px;
  border: 1px solid #e5e5e5;
}

.form-feedback__button {
  background-color: #fff;
}

.block-clients__title {
  font-size: 22px;
  font-family: 'Playfair Display';
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
  padding: 0px 0px 35px 0px;
}

.block-clients__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-clients__logos img {
  width: 50%;
  max-width: 160px;
  height: auto;
  margin-bottom: 40px;
}
