//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Roboto';
//</Шрифт по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 960;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import 'null';
body {
  color: #000;
  font-size: 14px;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
}
.slick {
  &-track {
    display: flex;
  }
  &-list {
    overflow: hidden;
  }
  &-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 180px 0px 0px 0px;
    li {
      list-style: none;
      margin: 0px 3px;
      &.slick-active {
        button {
          background-color: #00e0d0;
          border: none;
        }
      }
    }
    button {
      font-size: 0;
      width: 10px;
      height: 10px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #bab9bc;
    }
  }
}
.btn {
  display: inline-block;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  padding: 10px 17px;
}
//===================================================================================================================================
.headerblock {
  position: relative;
  width: 100%;
  height: 100%;
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}
.header {
  &__nav {
  }

  &__content {
    text-align: center;
    color: white;
    padding: 180px 0px 0px 0px;
    &-title {
      position: relative;
      font-size: 32px;
      font-family: 'Playfair Display', sans-serif;
      line-height: 1.2;
      text-align: center;
      font-weight: 800;
      padding: 0px 0px 25px 0px;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 1px;
        width: 50px;
        background-color: #00e0d0;
        margin: 0px 0px 0px -25px;
      }
    }
    &-subtitle {
      max-width: 777px;
      margin: 0 auto;
      text-align: center;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      line-height: 1.714;
      text-align: center;
      padding: 25px 0px 0px 0px;
      font-weight: 400;
    }
    &-button {
      margin: 65px 0px 0px 0px;
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 0px 0px;
  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-image {
  }

  &__logo-text {
    margin: 0px 0px 0px 11px;
    font-size: 30px;
    font-family: $fontFamily;
    line-height: 1.2;
    background-image: linear-gradient(to top, #00e0d0, #4aa3cc),
      linear-gradient(to bottom, #fff, #fff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  &__items {
    font-size: 13px;
    font-family: 'Roboto';
    line-height: 1.2;
    font-weight: 800;
  }

  &__item {
    margin: 0px 25px 0px 0px;
    color: white;
    &.active {
      color: #00e0d0;
    }
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
  }
}

.storyblock {
  padding: 68px 0px 70px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__image {
  }

  &__content {
  }

  &__title {
    font-size: 22px;
    font-family: 'PlayfairDisplay', sans-serif;
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    padding: 0px 0px 29px 0px;
  }

  &__subtitle {
    max-width: 539px;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: rgba(65, 61, 75, 0.749);
    line-height: 1.571;
    padding: 0px 0px 34px 0px;
  }

  &__button {
  }
}

.watchblock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('../assets/watch/bg.png') center / cover no-repeat;
  padding: 200px 0px 200px 0px;

  &__content {
    display: flex;
    flex-direction: column;
    img {
      padding: 0px 0px 35px 0px;
    }
    span {
      font-size: 16px;
      font-family: 'Roboto';
      color: white;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    }
  }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
